*{
    /* margin: 0;
    padding: 0; */
}

header {
    background-color: aquamarine;
}

#first-section {
    background-color: beige;
}

#second-section {
    background-color: blueviolet;
}
footer{
    background-color: crimson;
}